.candidate-popup-content {
  margin: 0;
  border-radius: 16px;
  padding: 0;
  box-shadow: none;
  border-width: 0;
}

.candidate-popup-text {
  border-width: 0;
  border-bottom-width: 0;
  padding: 0;
}

.candidate-box {
  transition-duration: 100ms;
  border-radius: 16px;
  border-color: #4c566a;
  padding: 0.5em;
}

.candidate-page-button:insensitive {
  color: rgba(0, 0, 0, 0.2) !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none;
}

.candidate-page-button:hover,
.candidate-page-button:active {
  color: #e5e9f0 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none;
}

.candidate-page-button {
  color: #eceff4 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  min-width: 28px !important;
  min-height: 28px !important;
  box-shadow: none;
}

.candidate-popup-boxpointer {
  -arrow-background-color: #4c566a;
  -arrow-border-radius: 16px;
  -arrow-border-width: 0px;
  -arrow-base: 0px;
  /* Fix border */
  -arrow-border-color: #4c566a;
  background: none;
  border-image: none;
}

/*
 *   Text
 */

.candidate-popup-content {
  color: rgba(255, 255, 255, 0.95);
  background-color: transparent;
}

.candidate-box:selected {
  color: #ffffff;
}

.candidate-box,
.candidate-index {
  color: rgba(255, 255, 255, 0.8);
}

/*
 *   Colors
 */
.candidate-popup-content,
.candidate-popup-text {
  border-color: #2e3440;
}

.candidate-box:hover {
  background-color: #2e3440;
}

.candidate-box:selected {
  background-color: #2e3440;
}
